@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:wght@500&display=swap');
header{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;
}
header *{
    
}
.logo-enlaces{
    display: flex;
    align-items: center;
    width: 35%;
    
}
.registro{
    
    display: flex;

}
.logo{
    width: 50px;
}
nav{
    display: flex;
    justify-content: center;
    flex-grow: 1;
}
.a{
    margin: 5px;
    text-decoration: none;
}
.boton{
    border: 3px solid white;
    padding: 0.8em;
    text-decoration: none;
    border-radius: 20px;
    margin: 0 0.5em;
}
.boton-blanco{
    border-color: black;
    background-color: white;
    color: black;

}
.boton-negro{
    background-color: black;
    color: white;
}
.arte{
    display:flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(6, 97, 6);
    color: white;
    margin: 0 100px;
    padding: 0.5em;
}

.arte p{
    font-size: 30px;
    width: 50%;
    text-align: center;
    padding: 0.2em;
}

.enlace{
    color: white;
}
.seccion1{
    margin: 0 100px;
    background-color: rgb(247, 20, 20);
    display: flex;
        
}
h1{
    font-size: 60px;
    width: 50%;
    text-align: center;
    font-family: 'Ysabeau Office', sans-serif;
}
h2{
    font-size: 60px;
}
.alebrijes{
  
    background-color: rgb(247, 20, 20);
    width: 300px;
    flex-grow: 1;
   
}


.alebrijes img{
    width: 100%;
}
.creatividad{
   
    background-color: rgb(247, 20, 20);
    align-items: center;
    color: white;
    width: 300px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 2em;

}
.creatividad h2,.creatividad p{
    width: 80%;
    text-align: center;
    font-family: 'Ysabeau Office', sans-serif;
}
.creatividad p{
    font-size: 30px;
}
.boton-a{
    color: white;
    border: 3px solid white;
    border-radius: 20px;
    padding: 0.5em;
    text-decoration: none;
}


.footer{
    margin: 0 100px;
    border-top: 2px solid gray;
    padding-top:1em;
}
section{
    margin-bottom: 0.5em;
}
